<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <%- include("_header") -%>

        <h1>
            user profile ejs file with title: <%= title %>
        </h1>

        <%- include("_footer") -%>

    </body>
</html>