
    <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            user profile ejs file with title: <%= title %>
        </h1>

        <h1>welcome <%= user.name%></h1>
        <h1>your mail id is <%= user.email %></h1>